#parent-container {
    background-color: rgb(70, 179, 194); 
    position: absolute;
    width: 100vw;
    height: 165%;
}

#title-container {
    overflow: hidden;
    background-image: linear-gradient(120deg, #FF5700 50%,#1DB954 50%);
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    height: 100px;
}

#title-container h1 {
    font-family: spotify-circular, sans-serif;
    font-style: normal;
    font-size: 48px;
    color:white;
    text-align: center;
    margin: auto;
}

#github-link {
    font-family: proxima-nova-extra-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color:white;
    margin: auto;
    text-decoration: none;
}

#contact-info {
    font-family: proxima-nova-extra-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color:white;
    margin: auto;
    text-decoration: none;
}

#sign-in-container {
    align-self: normal;
    padding-top: 100px;
}

#home-link {
    width: 100%;
    font-family: proxima-nova-extra-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    color:white;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}

#discover-reddit-container {
    position: relative;
    background-image: linear-gradient(to top, rgb(66, 66, 66), rgb(70, 179, 194));
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-radius: 6px;
}

#top-div {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: block;
}

#show-menu {
    font-family: spotify-circular, sans-serif;
    width: 334px;
    height: min-content;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 0;
    color: white;
    font-size: 36px;
    background-image: linear-gradient(135deg, #FF5700 50%, #1DB954 50%);
    background-size: 250% auto;
    background-position-x: -490px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition-duration: 1s;
    padding: 5px;
}

#show-menu:hover {
    background-position-x: 0px;
}

#delete-button {
    font-family: spotify-circular, sans-serif;
    width: max-content;
    height: min-content;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    background-color: rgb(253, 80, 80);
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255, .5);
    transition-duration: 1s;
    padding: 5px;
}

#delete-button:hover {
    background-color: black;
}

#menu-container {
    width: min-content;
    height: 0;
    visibility: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 5px auto;
    background-color: rgba(0, 0, 0, 0.432);
    padding: 5px 50px;
    border-radius: 40px;
}

#loading-container {
    font-family: spotify-circular, sans-serif;
    width: max-content;
    height: max-content;
    display: grid;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.411);
    color: rgba(230, 230, 230, 0.863);
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
}

#loading-message {
    margin: auto;
    font-size: 48px;
}

#loading-icon {
    width: initial;
    margin: auto;
    filter: grayscale(100%) invert(1);
    mix-blend-mode: lighten;
}

#playlists-container {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    height: 90vh;
    margin-top: 5px;
    padding: 5px;
}

#playlists-container div div h2{
    font-weight: 200;
}

#reddit-container {
    width: 50%;
    height: 100%;
    display: block;
    justify-content: space-around;
}

#spotify-container {
    width: 50%;
    height: 100%;
    display: block;
    justify-content: space-around;
}

.form-control.sub-count {
    width: 40px;
    height: 25px;
    padding:  0px 2px;
    display: inline-flex;
}

#buttons-container {
    display: grid;
    padding: 15px;
}

#trigger-new-playlist{
    font-family: spotify-circular, sans-serif;
    font-weight: 200;
    font-size: small;
    width: 90px;
    height: fit-content;
    background-color: black;
    border-radius: 8px;
    border: none;
    color: rgb(63, 209, 114);
    margin: auto;
    cursor: pointer;
    padding: 3px;
}

#hide-playlist-menu{
    font-family: spotify-circular, sans-serif;
    font-weight: 200;
    font-size: small;
    height: fit-content;
    background-color: white;
    border-radius: 6px;
    color: rgb(238, 58, 58);
    margin: 10px auto;
    cursor: pointer;
    padding: 3px;
    border: none;
}

#hide-playlist-menu:hover {
    position: relative;
    background-color: rgb(238, 58, 58);
    color: white;
    transition: 500ms; 
}

#sign-in-spotify{
    font-family: spotify-circular, sans-serif;
    font-weight: 200;
    font-size: xx-large;
    width: max-content;
    height: max-content;
    background-color: black;
    border-radius: 40px;
    border: black;
    color: rgb(63, 209, 114);
    margin: auto;
    cursor: pointer;
    padding: 10px;
    appearance: button;
    text-decoration: none;
}

#sign-in-spotify:hover {
    position: relative;
    background-color: #1DB954;
    color: white;
    transition: 500ms; 
}

#trigger-new-playlist:hover {
    position: relative;
    background-color: #1DB954;
    color: white;
    transition: 500ms; 
}

#time-span-options {
    font-family: spotify-circular, sans-serif;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.432);
    color: black;
    border-radius: 8px;
    justify-content: center;
    margin: auto;
    width: 250px;
    max-height: 100%;
}

#time-span-options h4 {
    width: max-content;
    margin: auto;
    padding: 8px;
}

#time-span-options label {
    display: -webkit-inline-box;
    margin: auto;
    width: 33%;
    padding-left: 4px;
}

#time-span-options label span {
    padding-left: 3px;
}

#subreddit-options {
    font-family: spotify-circular, sans-serif;
    display: grid;
    background-color: rgba(255, 255, 255, 0.432);
    color: black;
    border-radius: 8px;
    justify-content: left;
    width: max-content;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100%;
}

#subreddit-options h4 {
    width: max-content;
    margin: auto;
    padding: 8px;
    padding-bottom: 0;
}

#subreddit-options label {
    display: flex;
    padding: 2px;
    width: min-content;
    margin: auto 5px;
}

#subreddit-options label span{
    padding: 2px 5px;
}

#spotify-playlist {
    width: 90%; 
    height: 99%;
    display: block;
    max-height: 680px;
    margin: auto;
    border: black;
    border-radius: 8px;
}

#reddit-label {
    background-color: white;
    width: max-content;
    height: max-content;
    color:#FF5700;
    margin: 10px auto;
    border-radius: 10px;
    padding: 2px 8px;
}

#spotify-label {
    color: #1DB954;
    width: max-content;
    margin: 10px auto;
    height: max-content;
    background-color: black;
    border-radius: 10px;
    padding: 2px 8px;
}

#reddit-posts {
    width: 90%; 
    height: 99%; 
    overflow-y: scroll;
    background-color: #FF5700;
    border: white;
    border-radius: 6px;
    list-style-position: inside;
    counter-reset: item;
    list-style-type: none;
    padding-inline-start: 0;
    margin: auto;
    margin-top: 38px;
}

#reddit-posts li {
    text-decoration: none;
    color: black;
    font-family: spotify-circular, sans-serif;
    font-feature-settings: "tnum";
    width: 90%;
    max-width: 610px;
    display: grid;
    margin: auto;
    padding: 5px;
    padding-bottom: 20px;
    border-radius: 8px;
}

#reddit-posts li::before {
    color: white;
    background-color: black;
    width: 48px;
    height: 48px;
    display: grid;
    justify-content: center;
    align-items: center;
    content: counter(item) " ";
    counter-increment: item;
    font-size: 32px;
    margin: 10px auto;
    border-radius: 50%;
}

.embedly-card {
    background-color: white;
    color: white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    border-radius: inherit;
}

.embdscl0 {
    width: 0;
}

.embdscl0.embd-active {
   visibility: hidden;
   width: 0;
   
}
